body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    color:black;
    background-color: aliceblue;
}

.inactive {

    color: red;
}

.active {

    color: blue;
}